{% extends "base.html" %}

{% block title %}Cadastrar Herói{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/herois.css') }}">
{% endblock %}

{% block content %}
<div class="table-container">
    <h2>Lista de Heróis</h2>
    <table class="crime-table">
        <thead>
            <tr>
                <th>Nome Real</th>
                <th>Nome de Herói</th>
                <th>Poderes</th>
                <th>Nível de Força</th>
                <th>Gênero</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Data de Nascimento</th>
                <th>Local de Nascimento</th>
                <th>Popularidade</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="crimeList">
            {% for hero in heroes %}
                <tr>
                    <td>{{ hero.real_name }}</td>
                    <td>{{ hero.hero_name }}</td>
                    <td>{{ hero.powers }}</td>
                    <td>{{ hero.strength_level }}</td>
                    <td>{{ hero.gender }}</td>
                    <td>{{ hero.height }}</td>
                    <td>{{ hero.weight }}</td>
                    <td>{{ hero.birth_date }}</td>
                    <td>{{ hero.birth_place }}</td>
                    <td>{{ hero.popularity }}</td>
                    <td>{{ hero.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
