<!-- templates/cadastrar_batalha.html -->
{% extends "base.html" %}

{% block title %}Cadastrar Batalha{% endblock %}

{% block content %}
<div class="tabela">
    <h2>Lista de Batalhas</h2>
    <table class="battle-table">
        <thead>
            <tr>
                <th>Data da Batalha</th>
                <th>Nome do Herói 1</th>
                <th>Nome do Herói 2</th>
                <th>Força do Herói 1</th>
                <th>Força do Herói 2</th>
                <th>Vencedor</th>
            </tr>
        </thead>
        <tbody id="battleList">
            {% for battle in battles %}
                <tr>
                    <td>{{ battle.battle_date }}</td>
                    <td>{{ battle.hero1_name }}</td>
                    <td>{{ battle.hero2_name }}</td>
                    <td>{{ battle.hero1_strength }}</td>
                    <td>{{ battle.hero2_strength }}</td>
                    <td>{{ battle.winner_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="cadastro">
    <h1>Cadastrar Batalha</h1>
    <form id="cadastroBatalha">
        <label for="hero1_id">Desafiante:</label>
        <select id="hero1_id" name="hero1_id" required>
            <option value="">Selecione um herói</option>
            {% for heroi in herois %}
                <option value="{{ heroi.id }}">{{ heroi.hero_name }}</option>
            {% endfor %}
        </select>
    
        <label for="hero2_id">Adversário:</label>
        <select id="hero2_id" name="hero2_id" required>
            <option value="">Selecione um herói</option>
            {% for heroi in herois %}
                <option value="{{ heroi.id }}">{{ heroi.hero_name }}</option>
            {% endfor %}
        </select>
    
        <label for="battle_date">Data da Batalha:</label>
        <input type="date" id="battle_date" name="battle_date" required>
    
        <button class="submit-button" type="submit">Cadastrar</button>
    </form>
</div>

<script src="{{ url_for('static', filename='./js/battle.js') }}"></script>
{% endblock %}
