<!-- templates/cadastrar_heroi.html -->
{% extends "base.html" %}

{% block title %}Cadastrar Herói{% endblock %}

{% block content %}
    <!-- Lista de Crimes Cadastrados -->
    <div class="table-container">
        <h2>Lista de Crimes</h2>
        <table class="crime-table">
            <thead>
                <tr>
                    <th>Nome do Crime</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Herói Responsável</th>
                    <th>Severidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="crimeList">
                <!-- A lista de crimes será populada dinamicamente aqui -->
                {% for crime in crimes %}
                <tr id="crime-{{ crime.id }}">
                    <td>{{ crime.crime_name }}</td>
                    <td>{{ crime.description }}</td>
                    <td>{{ crime.crime_date }}</td>
                    <td>{{ crime.res_hero }}</td>
                    <td>{{ crime.severity }}</td>
                    <td>
                        <button class="crime-action-link edit-button" data-id="{{ crime.id }}">Editar</button>
                        <button class="crime-action-link delete-button" data-id="{{ crime.id }}">Excluir</button>
                        <!-- Formulário de edição que será ocultado inicialmente -->
                        <div class="edit-form" style="display: none;">
                            <input type="hidden" name="id" value="{{ crime.id }}">
                            <label>Nome Crime:</label>
                            <input type="text" id="crime_name_edit_{{ crime.id }}" value="{{ crime.crime_name }}"><br>
                            <label>Descrição:</label>
                            <input type="text" id="description_edit_{{ crime.id }}" value="{{ crime.description }}"><br>
                            <label>Data do Crime:</label>
                            <input type="date" id="crime_date_edit_{{ crime.id }}" value="{{ crime.crime_date }}" ><br>
                            

                                <label for="res_hero_{{ crime.id }}">Herói Responsável:</label>
                                <select id="res_hero_{{ crime.id }}" name="res_hero_" data-selected-hero="{{ crime.res_hero_id }}" required>
                                    {% for heroi in herois %}
                                        <option value="{{ heroi.id }}" {% if heroi.id == crime.res_hero_id %}selected{% endif %}>
                                            {{ heroi.hero_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                
                                <label>Severidade:</label>
                                <select id="severity_edit_{{ crime.id }}" name="severity">
                                    {% for i in range(1, 11) %}
                                        <option value="{{ i }}" {% if i == crime.severity %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select><br>
                                

                                

                            <button class="cancel-edit" data-id="{{ crime.id }}">Cancelar</button>
                            <button class="submit-edit" data-id="{{ crime.id }}">Salvar Alterações</button>
                        </div>
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>

     <!-- Formulário de Cadastro de Crime -->
     <div class="crime-container">
        <h1 id="formTitle">Cadastrar Crime</h1>
        <form id="cadastroCrime" action="/crimes/cadastrar" method="POST">
            <label for="crime_name">Nome do Crime:</label>
            <input type="text" id="crime_name" name="crime_name" required>
    
            <label for="description">Descrição:</label>
            <textarea id="description" name="description" required></textarea>
    
            <label for="crime_date">Data do Crime:</label>
            <input type="date" id="crime_date" name="crime_date" required>
    
            <label for="res_hero">Herói Responsável:</label>
            <select id="res_hero" name="res_hero" required>
                <!-- Opções serão adicionadas dinamicamente via JavaScript -->
            </select>
    
            <label for="severity">Severidade:</label>
            <select id="severity" name="severity" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            
            <button type="submit" class="submit-button">Cadastrar Crime</button>
        </form>
    </div>


    

    <script src="{{ url_for('static', filename='js/crime.js') }}"></script>
    {% endblock %}

