    <!-- Crimes -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form id="cadastroCrime">
        <label for="crime_name">Nome do Crime:</label>
        <input type="text" id="crime_name" required>
    
        <label for="description">Descrição:</label>
        <textarea id="description" required></textarea>
    
        <label for="crime_date">Data do Crime:</label>
        <input type="date" id="crime_date" required>
    
        <label for="res_hero">Herói Responsável:</label>
        <input type="text" id="res_hero" required>
    
        <label for="severity">Severidade:</label>
        <select id="severity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    
        <button type="submit">Cadastrar Crime</button>
    </form>
    

    <script src="{{ url_for('static', filename='./js/crime.js') }}"></script>
</body>
</html>